* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root, .App, .RecipeBook {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 48px;
  margin: 0;
}

.TopBar {
  height: 60px;
  background-image: url('/background.png');
  border-bottom: 2px solid #f3b23c;
  line-height: 60px;
  color: white;
  text-align: center;
  position: relative;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.TopBar .add-recipe-button {
  color: white;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 0;
}

.RecipeList,
.RecipeDescription {
  display: inline-block;
  vertical-align: top;
  height: calc(100% - 60px - 300px);
  overflow-y: auto;
}

.RecipeList {
  font-size: 24px;
  border-right: 1px solid #dadada;
  width: 35%;
}

.RecipeList > ul {
  padding: 0;
  margin: 0;
}

.RecipeList > ul > li {
  list-style: none;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
  padding: 15px 25px;
}

.RecipeList > ul > li.selected {
  background-color: #dadada;
}

.RecipeDescription {
  padding: 50px;
  width: 65%;
}

.AddRecipe {
  border-top: 1px solid #dadada;
  overflow: hidden;
  height: 300px;
  padding: 40px;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.AddRecipe input,
.AddRecipe textarea {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #dadada;
  font-size: 18px;
  padding: 10px;
}

.AddRecipe input {
  width: calc(35% - 40px);
  margin-right: 40px;
}

.AddRecipe textarea {
  height: 200px;
  width: calc(55% - 60px);
  margin-right: 20px;
}

.AddRecipe button {
  padding: 10px 30px;
  border: 1px solid #dadada;
  background: white;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.AddRecipe button:hover {
  background-color: #fac564;
  border-color: #f3b23c;
}
